<!-- main -->
<div class="container">
  <div style="height: 10vh;">
      <!--
    Father David Tedesche is the parochial vicar of St. Mary's Parish and Sts. Mary and Martha Parish in Auburn NY. Click the menu icons above to get content. 
    -->
  </div>
  <div style="font-size: 120%; color: #333;">
    Father David Tedesche is a priest of the Roman Catholic diocese of Rochester, NY. He is currently Pastor of St. Theodore's Parish in Gates, New York.
    <!--
    Father David Tedesche is a priest of the diocese of Rochester, NY. He is currently assigned as Chaplain to Strong, Highland, and Unity hospitals in the city of Rochesster. The homilies included here were preached by him from his time as pastor in Wayne County, NY. 
    -->
  </div>
  <!--
  <div style="font-size: 120%; color: #333;">
    Father David Tedesche is the pastor of St. Joseph the Worker Parish. This parish consists of St. Michael's in Lyons, NY, St. John the Evangelist in Clyde, NY, and St. Patrick's in Savannah, NY. 
  </div>
  -->
  <!--
  <br />
  <br />
  <div class="">
<iframe src="https://www.google.com/calendar/embed?title=Schedule%20for%20Bible%20Class&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=300&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=a229b0lba3fr2abhcb1c7altt0%40group.calendar.google.com&amp;color=%2323164E&amp;ctz=America%2FNew_York" style=" border-width:0 " width="300" height="300" frameborder="0" scrolling="no"></iframe>
  </div>
  -->
</div>
