<div ng-controller="DailyHomiliesController">
  <!--
  <table width="100%" border="1" class="cal_table">
  -->
  <a href="" ng-click="showDay(null);" >Click here to search.</a>
  <table width="100%" border="1" class="cal_table" cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <td ng-click="back();" class="cal_table grey_bg" style="cursor: pointer; text-align: center;">
          <!--
          &#x21E6; ←
          -->
          <span style="text-decoration: none; font-size: 200%; color: grey">&#x21E6;</span>
          
        </td>
        <td colspan="5" class="grey_bg cal_table" style="text-align: center; font-weight: bold; font-size: 100%; color: #2F4F4F;">
          <select class="grey_bg" style="border: none;" 
              ng-model="monthStr" 
              ng-change="calWidgetChanged();">
            <option value="January"   ng-selected="monthStr == 'January'">January</option>
            <option value="February"  ng-selected="monthStr == 'February'">February</option>
            <option value="March"     ng-selected="monthStr == 'March'">March</option>
            <option value="April"     ng-selected="monthStr == 'April'">April</option>
            <option value="May"       ng-selected="monthStr == 'May'">May</option>
            <option value="June"      ng-selected="monthStr == 'June'">June</option>
            <option value="July"      ng-selected="monthStr == 'July'">July</option>
            <option value="August"    ng-selected="monthStr == 'August'">August</option>
            <option value="September" ng-selected="monthStr == 'September'">September</option>
            <option value="October"   ng-selected="monthStr == 'October'">October</option>
            <option value="November"  ng-selected="monthStr == 'November'">November</option>
            <option value="December"  ng-selected="monthStr == 'December'">December</option>
          </select>
          &nbsp;
          <select ng-model="yearStr" 
            ng-options="yearStr.id as yearStr.name for yearStr in yearOptions"
            class="grey_bg no_empty_option" style="border: none;"
            ng-change="calWidgetChanged();"
          ></select>
          <!--
          <select 
              class="grey_bg no_empty_option" style="border: none;"
              ng-model="yearStr"
              ng-change="calWidgetChanged();"
              convert-to-number>
            <option value="2017">2017</option>
            <option value="2016">2016</option>
            <option value="2015" ng-selected="yearStr == 2015">2015</option>
            <option value="2014" ng-selected="yearStr == 2014">2014</option>
          </select>
          -->
        </td>
        <td class="cal_table grey_bg" ng-click="forward();" style="cursor: pointer; text-align: center;">
          <span href="" style="text-decoration: none; font-size: 200%; color: grey">&#x21E8;</span>
        </td>
      </tr>
    </thead>
    <tbody ng-repeat="w in fiveweeks">
      <tr ng-if="w[0].dateObj.getMonth() == dt.getMonth() || w[6].dateObj.getMonth() == dt.getMonth()">
        <td ng-repeat="d in w" width="14.29%" style="text-align: center;" class="grey_bg cal_color">
          <span ng-if="d.dateObj.getMonth() == dt.getMonth()">
            {{d.dayStr}}
          </span>
        </td>
      </tr>
      <tr ng-if="w[0].dateObj.getMonth() == dt.getMonth() || w[6].dateObj.getMonth() == dt.getMonth()">
        <!--
        <td ng-repeat="d in w" width="14.29%" class="cal_color" ng-class="d.cpObj ? '' : 'grey_bg' ">
        -->
        <td ng-repeat="d in w" width="14.29%" class="cal_color cal_cell">
          <p ng-if="d.cpObj != null && d.dateObj.getMonth() == dt.getMonth()" ng-include="'partials/course_specific/daily_day.html?cbp=20230723a704b04bbbedci'"></p>
        </td>
      </tr>
    </tbody>
  </table>
  <br />
  <br />
  <div ng-if="showingDay">
    <!--
    {{day2show.cpObj.audio}}
    -->
    <!--
    <div>
      <strong>{{day2show.dateStr}}</strong>
    </div>
    <div>
      <strong>{{day2show.litdaySelected}}</strong>
    </div>
    -->
    <!--
    <div>
      <span ng-repeat="ld in day2show.cpObj.liturgical_day">
        <span ng-if="$index != 0" > / </span>
        <span> {{ld}} </span>
    </div>
    <span ng-include="'partials/audio_and_docs.html?cbp=20230723a704b04bbbedci'"></span>
    -->
  </div>
</div>
