<!DOCTYPE html>
<html ng-app="cpApp">
  <head>
  
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<!--
	-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!--
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.11.0/angular-material.min.css">
    -->
    <link rel="stylesheet" href="3rd_party/sticky-footer.css">
    <link rel="stylesheet" href="cp.css?cbp=20230723a704b04bbbedci">

    <!-- Optional: Include the jQuery library -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!--
    <script src="3rd_party/ui-bootstrap-0.13.4.min.js"></script>
    -->

    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-messages.min.js"></script>
    <script src="3rd_party/ui-bootstrap-tpls-1.3.3.min.js" ></script>
    <!--
    <script src="3rd_party/ui-bootstrap-tpls-0.13.4.min.js" />
    <script src="3rd_party/ui-bootstrap-0.13.4.min.js" />
    -->

    <!-- Angular Material Library -->
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.11.0/angular-material.min.js"></script>
    
    <!--
    <script src="web/angular-disqus.min.js"></script>
    -->
    <script src="3rd_party/dirDisqus.js"></script>
    <script src="3rd_party/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-sanitize.js"></script>
    <script src="cp.json?cbp=20230723a704b04bbbedci"></script>
    <script src="cp.js?cbp=20230723a704b04bbbedci"></script>
    <script src="partials/course_specific/cpcal.js?cbp=20230723a704b04bbbedci"></script>

  </head>
  <body ng-controller="MenuController">
    <div class="opacity-wrapper" style="min-height: 100vh;">
    <div class="wrapper">
      <nav class="navbar navbar-default" role="navigation" style="font-weight: bold;">
        <div class="container-fluid opacity-nav">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          <a class="navbar-brand" href="" ng-click="goHome();">CatholicPatrimony.com</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">Classes <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                <li ng-class="{ active: c.active}" ng-repeat="c in dropDownMenu"><a href="" ng-click="classSelected(c)">{{c.seriesData.title}}</a></li>
                </ul>
              </li>
            <li ng-class="{ active: c.active}" ng-repeat="c in topLevelMenu"><a href="" ng-click="classSelected(c)">{{c.seriesData.title}}</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
  
      <div>
        <span ng-view></span>
      </div>
      <br />
      <div class="push">
      </div>

    </div>
    </div>

      <footer class="footer" style="opacity: 0.5;">
        <br />
        <div class="container footer-contents" style="opacity: 1.0; z-index: 1000;">

          Icons made by Freepik from <a href="//www.flaticon.com" title="Flaticon">www.flaticon.com</a>         is licensed by <a href="//creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>

        <!-- Start of StatCounter Code for Default Guide -->
  <script type="text/javascript">
  var sc_project=10293857; 
  var sc_invisible=0; 
  var sc_security="5408d687"; 
  var scJsHost = (("https:" == document.location.protocol) ?
  "https://secure." : "http://www.");
  document.write("<sc"+"ript type='text/javascript' src='" +
  scJsHost+
  "statcounter.com/counter/counter.js'></"+"script>");
  </script>
  <noscript><div class="statcounter"><a title="shopify
  analytics ecommerce" href="//statcounter.com/shopify/"
  target="_blank"><img class="statcounter"
  src="//c.statcounter.com/10293857/0/5408d687/0/"
  alt="shopify analytics ecommerce"></a></div></noscript>
  <!-- End of StatCounter Code for Default Guide -->

        </div>

      </footer>


    
  </body>
</html>
